[Unit]
Description=Raspberry Pi gateway
After=network.target

[Service]
ExecStart=/root/rpi_gateway/rpi_gateway.sh

[Install]
WantedBy=multi-user.target
